---
---
@import "../_sass/settings";

body {
  hyphens: none;
}

nav .sign {
  // min-height: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  &__word {
    font-size: 5.6rem;
    text-align: center;
    line-height: 1;
    color: #ffffff;
    animation: neon .12s ease-in-out infinite alternate;
    font-family: "Vibur";
    font-style: normal;
    font-weight: normal;
    text-transform: lowercase;
    letter-spacing: normal;

  }
}

/*-- Animation Keyframes --*/

// animation

@keyframes neon {
  from {
    text-shadow:
      0 0 6px rgba(241, 158, 235, 0.15),
      0 0 30px rgba(241, 228, 225, 0.34),
      0 0 12px rgba(198, 132, 242, 0.38),
      0 0 21px rgba(198, 132, 242, 0.92),
      0 0 34px rgba(198, 132, 242, 0.85),
      0 0 54px rgba(198, 132, 242, 0.92);
  }

  to {
    text-shadow:
      0 0 6px rgba(198, 228, 225, 0.78),
      0 0 30px rgba(198, 132, 225, 0.52),
      0 0 12px rgba(198, 132, 225, 0.78),
      0 0 22px rgba(198, 132, 242, 0.84),
      0 0 38px rgba(198, 132, 242, 0.88),
      0 0 60px rgba(198, 132, 242, 1);
  }
}

.post-credits {
  font-size: 1.5rem;
  font-style: italic;
  padding-left: 0.5rem;
  padding-top: 2rem;
}

.archive-posts-date {
  font-size: 1rem;
  font-style: italic;
  padding-left: 0.5rem;
  padding-top: 2rem;
  color: $text-color;
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: 55%;
  height: 2.5rem;
  /* Footer height */
  padding-top: 0;
}

.container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;
}


.ytplayer-fullwidth {
  height: 600px;
}

.ytplayer-smallwidth {
  height: 380px;
}

figcaption {
  min-width: 40%;
}

.kommentarsektion {
  width: 55%;
}

.kommentarsektion label {
  display: block;
  margin-top: 10px;
}

.kommentarsektion input,
.kommentarsektion textarea {
  background-color: $text-color;
  border: none;
  padding: 3px;
}

.kommentarbox {
  min-width: 100%;
  max-width: 100%;
  min-height: 130px;
}

.submitbutton {
  float: right;
  margin-top: 10px;
  padding: 2px;
  z-index: 1000;
}

h4 {
  color: #c574b8;
  font-size: 1.6rem;
  padding-top: 1.8rem;
}

.commentsection p {
  font-size: 17px;
  line-height: 1.24rem;
  margin-top: 0.7rem;
}

.commentdate {
  display: inline-block;
  padding-left: 18px;
  font-size: 1rem;
  color: $text-color;
  font-weight: normal;
}

.subtitle {
  font-size: 1.6rem;
}

.marginnote,
.sidenote {
  line-height: 1.44rem;
}

figure.fullwidth figcaption {
  margin-left: 0;
}

figure,
figure img.maincolumn {
  margin-top: 1em;
}

article p {
  hyphens: auto;
}
