<!-- <h3>Kommentar verfassen</h3>

<form class="kommentarsektion" method="post" action="{{ site.staticmanUrl }}" autocomplete="off">
  <input type="hidden" name="fields[title]" value="{{ page.title }}">
  <input type="hidden" name="options[redirect]" value="https://filmprojektor.net/comment-success.html">

  <label for="name">Name</label>
  <input type="text" name="fields[name]">
  
  <label for="kommentar">Kommentar</label>
    <textarea class="kommentarbox" name="fields[message]" type="text" ></textarea>
  


  <input class="submitbutton" type="submit" value="Abschicken">
</form> 

<p></p>

