<head>

  <!-- Metadata -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="Content-Language" content="de">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">

  <!-- Facebook -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <!-- TODO twitter acc for filmprojektor <meta name="twitter:site" content="@filmprojektor"> -->
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}">
  <meta name="twitter:image:alt" content="Symbolbild für {{site.title}}">

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

  <!-- Load up MathJax script if needed ... specify in /_data/options.yml file-->
  {% if site.data.options.mathjax %}
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: [
          "MathMenu.js",
          "MathZoom.js",
          "AssistiveMML.js",
          "a11y/accessibility-menu.js"
        ],
        jax: ["input/TeX", "output/CommonHTML"],
        TeX: {
          extensions: [
            "AMSmath.js",
            "AMSsymbols.js",
            "noErrors.js",
            "noUndefined.js",
          ]
        }
      });
    </script>

    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
  {% endif %}

  <link rel="preload" href="/css/tufte.css" as="style">
  <link rel="preload" href="/css/site.css" as="style">
  <link rel="preload" href="/fonts/Barlow/Barlow-Regular.ttf" as="font">
  <link rel="preload" href="/fonts/Barlow/Barlow-Italic.ttf" as="font">
  <link rel="preload" href="/fonts/Barlow/Barlow-Bold.ttf" as="font">
  <link rel="preload" href="/fonts/Vibur/Vibur-Regular.ttf" as="font">

  <link rel="stylesheet" type="text/css" href="{{ "/css/tufte.css" }}">
  <link rel="stylesheet" type="text/css" href="{{ "/css/site.css" }}">
  <!-- <link rel="stylesheet" type="text/css" href="{{ "/css/print.css" | prepend: site.baseurl }}" media="print"> -->

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="shortcut icon" type="image/png" href="{{ "/assets/favicon.png" | prepend: site.baseurl | prepend: site.url }}">
</head>
